body {
  text-align: center;
  background-color: #011f3f;
}

.page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

#level-title {
  font-family: "Press Start 2P", cursive;
  font-size: 3rem;
  margin: 4.8%;
  color: #fef2bf;
}

.container {
  display: block;
  width: 70%;
  margin: auto;
}

.btn {
  display: inline-block;
  border: 6px solid black;
  border-radius: 20%;
  height: 200px;
  width: 200px;
  margin: 10px;
}

#instructions {
  font-family: "Courier New", cursive;
  color: #fef2bf;
  text-align: center;
  line-height: 1.5;
  font-size: 1.3rem;
  margin-top: 30px;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

/* Responsiveness */

@media only screen and (max-width: 600px) {
  #level-title {
    font-size: 1.2rem;
  }
  .btn {
    margin: 6px;
    height: 100px;
    width: 100px;
  }
}

@media only screen and (min-width: 600px) {
  #level-title {
    font-size: 1.5rem;
  }
  .btn {
    height: 125px;
    width: 125px;
  }
}

@media only screen and (min-width: 800px) {
  #level-title {
    font-size: 1.8rem;
  }
  .btn {
    height: 120px;
    width: 120px;
  }
}

@media only screen and (min-width: 1000px) {
  #level-title {
    font-size: 2rem;
  }

  .btn {
    height: 120px;
    width: 120px;
  }
}

@media only screen and (min-width: 1200px) {
  #level-title {
    font-size: 2.3rem;
  }
  .btn {
    height: 120px;
    width: 120px;
  }
}
